.Batchs .batch-container .ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  color: black;
  padding: 10px;
  background: white;
  font-size: 16px;
}
.Batchs .batch-container .ReactTable .rt-thead .rt-resizable-header {
  font-size: 10px;
}
.Batchs .batch-container .ReactTable .rt-resizable-header-content {
  color: black;
  font-weight: normal;
  color: black;
}

.BatchSearch form {
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.BatchSearch form > .textBox {
  outline: 0;
  height: 42px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.BatchSearch form > .textBox:focus {
  outline: 0;
  background-color: #fff;
}

.BatchSearch form > .button {
  outline: 0;
  background: none;
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  padding-top: 10px;
  height: 30px;
  width: 40px;
  text-align: center;
  border: 0;
  color: #c0c0c0;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  background: #4251af;
}
.Batchs .batch-container .ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  background: #4251af;
  color: white;
  font-weight: 500;
}
.Batchs .batch-container .ReactTable .rt-resizable-header-content {
  color: white;
  font-weight: 500;
}

.BatchStatus::first-letter {
  text-transform: uppercase;
}


.batch-container button.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  font-weight: 900;
  margin-top: 20px;
}

.Batchs .ReactTable .rt-thead.-headerGroups {
  border-bottom: 1px solid#505050
}
.Batchs .ReactTable .rt-thead .rt-tr {
  background: #4251af
}

.batch-container .batch__detail p {
  line-height: 44px;
}