.Batchs .BatchsContainer .ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  color: black;
  padding: 10px;
  background: white;
  font-size: 16px;
}
.Batchs .BatchsContainer .ReactTable .rt-thead .rt-resizable-header {
  font-size: 10px;
  /* background: #3f51b5; */
}
.Batchs .BatchsContainer .ReactTable .rt-resizable-header-content {
  color: black;
  font-weight: normal;
  color: black;
}
