.role h3 {
  color: black;
  font-size: 21px;
  font-weight: 500;
}

.permission_role_name {
  text-align: center;
}

.role_permissions > h3 {
  font-weight: 400;
  font-size: 24px;

 
}
.role_permissions p {
  color: #4251af;
  font-size: 18px;
  font-weight: 400;
}

.permission_name > h6 {
  padding: 5px 0px;
  margin: 15px 0px;
}

.permission_name_container {
  box-shadow: 0 0 0 1px #dddddd;
  width: 98%;
  white-space: nowrap;
}
.permission_name_container  > h6 {
  color: black;
  font-weight: 400;
  padding: 10px 0px 6px 15px;
  margin-bottom: 0px;
}

.permission_name > .none {
  color: white;
}
.permission_name_check {
  padding: 1px 15px;
  box-shadow: 0 0 0 1px #dddddd;
  width: 98%;
}
