
.role h3 {
    color: black;
    font-size: 21px;
    font-weight: 500;
}

// .role-department  {
//   margin: 20px 0px;
// }


.role .role-permissions {

    table {
      width: 100%;
      color: #4251af;
    }
    table thead tr th {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
    table tr td {
      text-align: center;
    }
    table tr td:first-child {
      text-align: left;
    }
    
    // table th:first-child {
    //   text-align: left;
    // }
    table .module th {
      padding: 15px 0px;
      color: black;
      font-weight: 500;
      font-size: 15px;
    }
    table td:first-child {
      padding-left: 10px;
    }
    table td {
      box-shadow: 0 0 0 1px #dddddd; /* this draws the table border  */ 
    }

    table .role-name {
      font-size: 16px;
      font-weight: 400;
      // height: 44px;

    }
   

    table .module2 {
      color: #4251af;
      text-align: center;
      font-size: 16px;
    }
   .module .none  th {
      color: white;

    }

}


