.MuiStepIcon-root.MuiStepIcon-active {
  color: #4251af !important;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: #4251af !important;
}

.add-merchant-container {
  .general-container {
    h1 {
      color: #4251af;
    }

    input {
      font-weight: 500;
    }
  }
}

.principal-container {
  padding-bottom: 20px;

  & .principal-form {
    .input-feedback {
      color: red;
      padding-top: 5px;
    }

    h4 {
      font-weight: 400;
      margin-bottom: 6px;
      padding-top: 10px;
    }

    input[type="file"] {
      border: none;
      width: auto;
    }
    input[type="file"]:hover {
      border: none;
    }
    input {
      border: none;
      border-bottom: 1px solid gray;
      width: 100%;
      outline: none;
      font-weight: 500;
    }

    input:hover {
      border-bottom: 1px solid#4251af;
    }

    .driver-image {
      width: 250px;
      height: 250px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .add-remove-principal {
      color: #4251af;
      font-weight: 500;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
    }
    .add-remove-principal:hover {
      font-weight: 600;
      color: #4251af;
    }
  }
}

.Questions {
  .MuiFormGroup-root {
    display: inline;
  }
}

.srv-validation-message {
  color: red;
  padding-top: 5px;
}
