.extra {
  .extra-container {
    background-color: #4251af;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    width: 100%;
    margin-bottom: 20px;

    h6 {
      text-align: center;   
      color: white;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }

  label {
    color: #4251af;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
  }

  select {
    width: 80%;
    padding: 12px;
  }

  form {
    padding: 10px;
  }

  .extra-image-container {
    img {
      width: 250px;
      height: 220px;
      max-width: 200px;
    }
    
    input {
      padding-top: 1px;
    }
    display: flex;
  }
}
