.service-container {
  text-align: center;


  label {
    color: #0074d9;
    margin-top: 10px;
  }
  .extra-btn {
    color: #0074d9 !important;
    cursor: pointer;
    padding-left: 20px;
  }
}

div.rt-tr {
  align-items: center;
}
