.service-container {
  text-align: left;


  label {
    color: #0074d9;
    margin-top: 10px;
  }
  .extra-btn {
    color: #0074d9 !important;
    cursor: pointer;
    padding-left: 20px;
  }
}

div.rt-tr {
  align-items: center;
}

.css-1okebmr-indicatorSeparator{
  width: 0px !important;
}
.css-1wa3eu0-placeholder{
  margin-left : 0 !important;
}

.css-1wa3eu0-placeholder{
  // left : 0 !important;
  // right: 0 !important;
}

.textarea:focus, input:focus{
  outline: none !important;
}
