.Save-fixed-bottom {
  right: 35%;
  height: 40px;
  position: fixed;
  bottom: -1%;
  width: 100%;
}
.service-container {
  text-align: left;


  label {
    color: #4251af;
    margin-top: 10px;
    font-size: 16px;
  }
  .extra-btn {
    color: #4251af !important;
    cursor: pointer;
    padding-left: 20px;
  }
}

div.rt-tr {
  align-items: center;
}

.css-1okebmr-indicatorSeparator{
  width: 0px !important;
}
.css-1wa3eu0-placeholder{
  margin-left : 0 !important;
}

.css-1wa3eu0-placeholder{
  // left : 0 !important;
  // right: 0 !important;
}

textarea:focus, input:focus{
  outline: none !important;
}

