
.MuiStepIcon-root.MuiStepIcon-active{
  color: #1366AE !important;
}

.group-button-merchant-device{
  position: absolute;
  bottom : 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left : 0px;
  right: 0px;
}

.container-loading-settlement{
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content:center;
  align-items: center;
  background: transparent;
  z-index: 9999999999;
}