.Transactions table tr td {
  cursor: context-menu;
}
.TransactionsBox {
  display: flex;
  justify-content: space-between;
}
.Transactions .bigshot {
  font-weight: 600;
  color: red;
}
.Transactions thead tr th {
  color: white;
  background-color: #3f51b5;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #3f51b5;
}
.Transactions tbody tr td {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid grey;
}
/* .Transactions tbody tr td:first-child {
  border-left: 1px solid grey;
}
.Transactions tbody tr td:last-child {
  border-right: 1px solid grey;
} */
.Transactions tbody tr td:first-letter {
  text-transform: capitalize;
}
.TransactionSearch button {
  margin-top: 20px;
  color: #ffffff;
  background-color: #3f51b5;
  font-size: 15px;
  font-weight: 500;
}
.TransactionSearch button:hover {
  background-color: #512da8;
}

.TransactionSearch select {
  outline: 0;
  height: 32px;
  width: 244px;
  padding: 0 16px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* REACT TABLE */
.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 3px 0 0 red !important;
}
.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -3px 0 0 red !important;
}
.ReactTable .rt-resizable-header-content {
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  color: #fff;
}
.ReactTable .rt-tbody .rt-td {
  text-align: center;
  color: #212121;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}
.ReactTable .-pagination .-btn:not([disabled]):hover {
  background: #3c37ab !important;
  color: white;
}
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  padding: 0px;
  background: #3f51b5;
}
.rt-td {
  white-space: normal !important;
}
