.Transactions table tr td {
  cursor: context-menu;
}
.TransactionsBox {
  display: flex;
  justify-content: space-between;
  /* margin: 0px 20px; */
  margin-top: 20px;
}
.Transactions .bigshot {
  font-weight: 600;
  color: red;
}
.Transactions thead tr th {
  color: white;
  background-color: #0764B0;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #0764B0;
}
.Transactions tbody tr td {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid grey;
}

.Transactions tbody tr td:first-letter {
  text-transform: capitalize;
}



.TStatus::first-letter {
  text-transform: uppercase;
}
/* REACT TABLE */
.rt-td {
  white-space: normal !important;
}
.ReactTable .rt-tbody .rt-td {
  text-align: start;
  padding: 10px;
}
.ReactTable .rt-thead .rt-tr {
  text-align: start !important;
}
.ReactTable .rt-resizer:before {
  display: inline-block;
  position: absolute;
  right: 22px;
  top: 15px;
  height: 18px;
  width: 18px;
  color: transparent;
  content: ".";
  background-size: 18px 18px;
  background-repeat: no-repeat;
  opacity: 1;
}

.P2pStatus::first-letter {
  text-transform: uppercase;
}


 




.TransactionsBox .btn:hover {
  background-color: #0764B0;
  border-color: rgba(0, 0, 0, 0.5);
}

 
.TransactionsBox .btn:active {
  background-color: #ccc;
  border-color: rgba(0, 0, 0, 0.9);
}
 
.TransactionsBox .btn.btn-green {
  background-color: #0764B0;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

 
.TransactionsBox .btn.btn-green:hover {
  background-color: #0764B0;
  border-color: rgba(0, 0, 0, 0.5);
}

 
.TransactionsBox .btn.btn-green:active {
  background-color: #0764B0;
  border-color: rgba(0, 0, 0, 0.9);
}
/* RED BUTTON */
 
.TransactionsBox .btn.btn-red {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #0764B0;
}

 
.TransactionsBox .btn.btn-red:hover {
  background-color: #fcfcfc;
  border-color: rgba(0, 0, 0, 0.5);
}

 
.TransactionsBox .btn.btn-red:active {
  background-color: #f4f4f4;
  border-color: rgba(0, 0, 0, 0.9);
}

