.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  font-weight: 900;
  margin-top: 20px;
}

.reset_btn {
  margin: auto;
  text-align: center;
}

.first {
  height: 100%;
  border-right: 1px solid #0764B0;
  position: relative;
  padding-top: 60px;
}
.first::after {
  content: "";
  position: absolute;
  bottom: 31px;
  right: -8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0764B0;
}

.log_pagination {
  margin-top: 20px;
  float: right;
}
