.principal-container {
  h2 {
    color: #0764B0;
  }


  .edit-principal {
    h4 {
      padding: 10px 0px;
    }
  }
}

.lbl-edit-principal{
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}