.MerStaffList {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.MerStaffList h2 {
  font-weight: 800;
}
.POPUP-INNER2 {
  padding-top: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 30%;
  right: 30%;
  top: 15%;
  bottom: 35%;
  margin: auto;
  background: white;
}
/* settings pop up */
.POPUP .SettingsPopup {
  bottom: 50%;
}
.POPUP-INNER2 label {
  display: inline-block;
  width: 274px;
  text-align: right;
  line-height: 28pt;
  font-weight: 500;
  font-size: 18px;
}
.POPUP-INNER2 input {
  width: 250px;
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* .StaffContent {
  
} */
.StaffContent .container {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-bottom: 20px;
}
.StaffContent .StaffBtn {
  width: 170px;
  height: 80px;
}
.StaffContent .avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.StaffContent {
  display: inline;
}
/* test */
.profile-nav ul {
  display: flex;
  background-color: #0764b0;
}
.detail-content {
  padding-top: 10px;
}
ul.detail-tab li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}
ul.detail-tab li a {
  opacity: 0.5;
  font-weight: 300;
  display: block;
  padding: 10px 25px 5px 25px;
  background: #0764b0;
  color: white;
  font-size: 19px;
  border: none;
  margin-right: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
ul.detail-tab .active {
  opacity: 1;
  font-weight: 400;
  color: white;
  border-bottom: 3px solid red;
  background: #0764b0;
}
