.code-log {
  .MuiDialogContent-root {
    padding: 10px 25px 25px 25px;
    min-width: 500px
  }
  table {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 6px;
  }
  h4 {
    // text-align: center;
    color: black;
    font-weight: 400;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 10px;
  }
  td {
    color: black;
    font-weight: 300;
    padding: 10px 20px 10px 10px;
  }

  .code-log-title {
    padding: 20px 25px 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 17px;
      margin-bottom: 0px;
    }

    button {
      border: 1px solid rgba(0, 0, 0, 0.3);
      padding: 2px 20px;

    }
  }
}

