.content-body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
.content-body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-body hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #4251af;
  align-content: center;
  width: 100%;
}
.content-body .btn button.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  font-weight: 900;
}

/* GREEN BTN */
.content-body .btn button.btn:hover {
  background-color: #4251af;
  border-color: rgba(0, 0, 0, 0.5);
}

.content-body .btn button.btn:active {
  background-color: #ccc;
  border-color: rgba(0, 0, 0, 0.9);
}
.content-body .btn button.btn.btn-green {
  background-color: #4251af;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

.content-body .btn button.btn.btn-green:hover {
  background-color: #4251af;
  border-color: rgba(0, 0, 0, 0.5);
}

.content-body .btn button.btn.btn-green:active {
  background-color: #4251af;
  border-color: rgba(0, 0, 0, 0.9);
}
/* RED BUTTON */
.content-body .btn button.btn.btn-red {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #4251af;
}

.content-body .btn button.btn.btn-red:hover {
  background-color: #fcfcfc;
  border-color: rgba(0, 0, 0, 0.5);
}

.content-body .btn button.btn.btn-red:active {
  background-color: #f4f4f4;
  border-color: rgba(0, 0, 0, 0.9);
}
.content-list .content-body .InputBox input {
  width: auto !important;
  text-align: center;
}

.content-body .content .container-fluid h2 {
  color: #4251af;
  font-weight: 400;
  margin: 0;
}
/* .content-body .content p {
  font-weight: 400;
  color: #252525;
  overflow-wrap: break-word;
  font-size: 16px;
} */

h4 {
  margin-bottom: 4px;
}
/* POP UP  */

.request-status .title {
  background-color: red;
  color: white;
  width: 15%;
  padding: 5px !important;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.request-status h4 {
  color: #4251af;
  font-size: 17px;
}

.content-list .content-body .title {
  padding-top: 15px;
  color: #4251af;
  text-align: center;
}

.content-list .content-body input {
  width: 100%;
  font-weight: 300;
  color: #000000;
  border: none;
  margin: 0px;
  font-size: 16px;
  padding-bottom: 2px;
}

.content-list .content-body input:focus {
  outline: none;
  border-color: #4251af;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #4251af !important;
}

.checked-red .MuiCheckbox-colorSecondary.Mui-checked {
  color: red !important;
}
.checked-red {
  color: red;
}

.react-tel-input .flag {
  left: 20%;
}

.custom-input {
  cursor: pointer;
  /* width: 100px; */
  height: 34px;
  overflow: hidden;
}

.custom-input:before {
  width: 100% !important;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  content: "Upload";
  font-weight: 500;
  display: inline-block;
  background: white;
  border: 1px solid #cccccc;
  padding: 0 10px;
  text-align: center;
}

.custom-input::-webkit-file-upload-button {
  visibility: hidden;
}

.pending_status {
  max-width: 160px !important;
  background-color: #4251af;
  text-align: center;
  margin-bottom: 20px !important;
}
.pending_status .loading-progress {
  padding: 10px 0px;
  color: white;
}

.pending_status > .status_select {
  color: white;
  width: 130px;

  padding: 5px 10px;
  border-bottom: none;
}

.pending_status .MuiInputBase-root {
  border-bottom: none;
}

.pending_status {
  margin-bottom: 15px;
}
.pending_status .MuiSelect-icon {
  color: white !important;
}

.pending_status > h4:first-of-type {
  color: #4251af;
  padding: 10px 0px;
}

.modal-title {
  background-color: #4251af;
  display: inline;
}
.modal-title h5 {
  color: white;
  text-align: center;
}

.reject-container {
  text-align: center;
}

.accept-container h2 {
  text-align: center;
}

.principal-title {
  display: flex;
  justify-content: space-between;
}

.add-principal {
  color: #4251af;
  cursor: pointer;
  font-weight: 500;
  margin-right: 5px;
}
.add-principal:hover {
  font-weight: 700;
}
.remove-principal {
  cursor: pointer;
  color: #4251af;
}

.error-message {
  color: #f44336;
  margin: 0;
  font-size: 0.75rem;
  text-align: left;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}

.pending-image {
  width: 100%;
  height: auto;
  max-width: 250px;
  background-position: center;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .content-body label {
    font-size: 15px;
  }
}
