

.pending-image {
  width: 100%;
  height: auto;
  max-width: 250px;
  background-position: center;
}

.ReactTable .rt-tbody .rt-td p {
  font-size: 15px;
  margin-bottom: 0px !important;
  font-weight: 300;
}
