.PendingLBody {
  background-color: #fff;
  font-family: "Work Sans", sans-serif;
}
.PendingLBody .PDL-Btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.PendingLBody hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #4251af;
  align-content: center;
  width: 100%;
}
.PendingLBody .PDL-Btn button.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  font-weight: 900;
}

/* GREEN BTN */
.PendingLBody .PDL-Btn button.btn:hover {
  background-color: #0074d9;
  border-color: rgba(0, 0, 0, 0.5);
}

.PendingLBody .PDL-Btn button.btn:active {
  background-color: #ccc;
  border-color: rgba(0, 0, 0, 0.9);
}
.PendingLBody .PDL-Btn button.btn.btn-green {
  background-color: #4251af;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

.PendingLBody .PDL-Btn button.btn.btn-green:hover {
  background-color: #0074d9;
  border-color: rgba(0, 0, 0, 0.5);
}

.PendingLBody .PDL-Btn button.btn.btn-green:active {
  background-color: #0074d9;
  border-color: rgba(0, 0, 0, 0.9);
}
/* RED BUTTON */
.PendingLBody .PDL-Btn button.btn.btn-red {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #4251af;
}

.PendingLBody .PDL-Btn button.btn.btn-red:hover {
  background-color: #fcfcfc;
  border-color: rgba(0, 0, 0, 0.5);
}

.PendingLBody .PDL-Btn button.btn.btn-red:active {
  background-color: #f4f4f4;
  border-color: rgba(0, 0, 0, 0.9);
}
.PendingList .PendingLBody .InputBox input {
  width: auto !important;
  text-align: center;
}
.PendingList .PendingLBody {
  /* padding-top: 20px; */
}
.PendingLBody .content .container-fuild h2 {
  color: #4251af;
  font-weight: 500;
  padding: 10px 0px;
}
.PendingLBody .content .container-fuild p {
  padding-bottom: 10px;
  font-weight: 600;
  color: black;
  overflow-wrap: break-word;
  font-size: 14px;
}
/* POP UP  */
.PendingList .PendingLBody .POPUP {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.requestStatus .title {
  background-color: red;
  color: white;
  width: 15%;
  padding: 5px !important;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.requestStatus h4 {
  color: #4251af;
  font-size: 17px;
}
.PendingList .PendingLBody form {
  text-align: center;
}
.PendingList .PendingLBody .title {
  padding-top: 15px;
  color: #4251af;
  text-align: center;
}
/* .PendingList .PendingLBody input {
  width: auto;
} */
.PendingList .PendingLBody input {
  width: 100% !important;
  font-weight: 500;
  color: #000000;
  border: none;
  border-bottom: 2px solid #dcdcdc;
  margin: 0px;
  font-size: 16px;
}

.PendingList .PendingLBody input:focus {
  outline: none;
  border-color: #4251af;
}

.rejectInput textarea {
  width: 490px;
  height: 100px;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #4251af !important;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .rejectInput textarea {
    width: 420px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .rejectInput textarea {
    width: 300px;
  }
}
