.category-container {
  button {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    color: #666;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-width: 3px;
    padding: 10px 20px;
  }

  & .add-category {
    background-color: #4251af;
    color: white;

    &:hover {
      background-color: #4251af;
    }
  }
}
.category {
  width: 500px;
  margin-top: 40px;
  .select-category {
    width: 300px;
  }
  .category-title-container {
    background-color: #4251af;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 25;
    width: 100%;
    h2 {
      letter-spacing: 0.1em;
    }
  }

  padding-bottom: 10px;
  button {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    color: #666;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
  }
  form {
    width: 100%;
  }
  .title {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  h5 {
    padding-top: 10px;
    width: 100%;
    color: #4251af;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
  }

  .input-feedback {
    padding-top: 5px;
    color: red;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
}

.category-button {
  display: flex;
  justify-content: flex-start;

  & .green {
    background-color: #4251af;
    color: white;
    margin-right: 20px;

    &:hover {
      background-color: #4251af;
      border-color: rgba(0, 0, 0, 0.5);
      font-weight: 600;
    }
  }
}



.category__container .ReactTable .rt-thead .rt-tr {
  background-color: #ebebeb;
}

.category__container .ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  background-color: #ebebeb;
}

.category__container .ReactTable .rt-resizable-header-content {
   color: #000;
}