.add-staff {
  .srv-validation-message {
    color: red;
  }
  select {
    padding: 5px;
  }
}

.pin-match p {
  color: red;
  font-weight: 30px;
}

.Staff {
  .pad-down {
    padding-top: 40px;
  }
}

.Salary {
  .salary-box {
    display: flex;

    span {
      padding-top: 20px;
    }
  }
}
