.giftcard {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  button {
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-width: 3px;
    font-weight: 900;
  }
  .giftCard_search {
    display: flex;
    justify-content: space-between;

    & form {
      width: 300px;
      outline: 0;
      float: left;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -webkit-border-radius: 4px;
      border-radius: 4px;
    }
    & form > .textBox {
      outline: 0;
      height: 42px;
      width: 244px;
      line-height: 42px;
      // padding: 0 16px;
      background-color: rgba(255, 255, 255, 0.8);
      color: #212121;
      border: 0;
      float: left;
      -webkit-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
    }

    & form > .textBox:focus {
      outline: 0;
      background-color: #fff;
    }

    & form > .button {
      outline: 0;
      background: none;
      background-color: rgba(255, 255, 255, 0.8);
      float: left;
      padding-top: 10px;
      height: 30px;
      width: 40px;
      text-align: center;
      /* line-height: 22px; */
      border: 0;
      color: #c0c0c0;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 16px;
      text-rendering: auto;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-transition: background-color 0.4s ease;
      transition: background-color 0.4s ease;
      -webkit-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
    }

    .giftcard_button {
      background-color: #4251af;
      color: white;
      padding: 10px 20px;

      &:hover {
        background-color: #4251af;
        border-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.5ms ease-in;
      }
    }
  }

  .giftcard_content {
    padding-top: 30px;

    .ReactTable .rt-thead .rt-resizable-header-content {
      font-weight: 500;
      font-size: 16px;
      padding: 10px;
      color: #fff;
      letter-spacing: 1px;
    }

    .ReactTable .rt-thead .rt-th,
    .ReactTable .rt-thead .rt-td {
      background-color: #4251af;
    }
    .ReactTable .rt-thead .rt-tr {
      text-align: start;
    }

    .ReactTable .rt-tbody .rt-td {
      color: #212121;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.3px;
      padding: 5px 10px;
    }
    div.rt-tr {
      align-items: center;
    }

    .giftcard-template {
      color: #4251af;
      font-weight: 400;
    }
    .giftcard-name {
      font-weight: 500;
      color: #666666;
    }
  }

  .id-and-btn {
    display: flex;
    justify-content: space-between;
    text-align: center;

    h3 {
      font-weight: 600;
      margin-bottom: 0;
    }
    button {
      background-color: #fff;
      border-color: rgba(0, 0, 0, 0.3);
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      color: #4251af;
      font-weight: 600;
      padding: 8px 20px;
      margin-left: 10px;

      &:hover {
        background-color: #fcfcfc;
        border-color: rgba(0, 0, 0, 0.5);
      }
    }
    .btn-red {
      background-color: #4251af;
      color: #fff;

      &:hover {
        background-color: #4251af;
        border-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  .information {

    .input-feedback {
      padding-top: 5px;
      color: red;
      font-weight: 500;
      letter-spacing: 0.1em;
    }

    .generation-btn {
      margin-top: 10px;
      padding: 8px 15px;
      color: #4251af;
      background-color: #fff;
    }
    .add-codes {
      // width: 100%;
      font-weight: 500;
      color: #000000;
      border: none;
      border-bottom: 2px solid #dcdcdc;
      margin: 0px;
      font-size: 16px;
      padding: 5px 5px 0px 5px;
    }
    textarea:focus,
    input:focus {
      outline: none;
    }
    h4 {
      // padding-top: 20px;
      font-size: 16px;
      font-weight: 400;
      margin: 6px 0px;
    }
    p {
      font-weight: 400;
      color: black;
      letter-spacing: 0.5px;
      font-size: 16px;
    }

    label {
      color: #909090;
      color: rgba(0, 0, 0, 0.54);
      padding: 0;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.00938em;
      font-size: 17px;
    }

    .title {
      color: #4251af;
      font-weight: 400;
      letter-spacing: 0.7px;
      font-size: 20px;
      padding: 10px 0px;
    }

    input {
      width: 100%;
      font-weight: 400;
      color: #000000;
      border: none;
      // border-bottom: 2px solid #dcdcdc;
      margin: 0px;
      font-size: 16px;
      padding: 5px;

      &:hover {
        outline: none;
        border-color: #4251af;
      }
    }
  }
}

.ReactTable .rt-tbody .rt-td p {
  font-size: 15px;
  margin-bottom: 0px !important;
  font-weight: 300;
}