.UserProfile {
  font-family: "Work Sans", sans-serif;
}
.UserSearchBox {
  display: flex;
  justify-content: space-between;
}
.UserSearchBox .addAdmin {
  padding: 10px 20px;
  background: #0764b0;
  color: white;
}
.AdminProfile {
  width: 100%;
  background: #fff;
  margin-left: 0px;
  padding: 10px;
  font-size: 16px;
}
.AdminProfile h2 {
  padding-top: 15px;
  color: #b4b2b2;
  font-weight: 500;
  font-size: 22px;
}
.AdminProfile div img {
  width: 180px;
}
.AdminProfile button {
  padding: 9px;
  margin-top: 20px;
  color: white;
  background: #0764b0;
  font-weight: 500;
  font-size: 14px;
}
.AdminProfile button:hover {
  padding: 9px;
  margin-top: 20px;
  color: white;
  background: #0074d9;
  font-weight: 500;
}
.AdminProfile h1 {
  color: black;
  font-weight: 550;
}
.AdminProfile h4 {
  color: #0764b0;
  font-weight: 400;
}
.AdminProfile table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.AdminProfile td,
th {
  display: inline-block !important;
  text-align: left;
  padding: 6px 0px;
}
.AdminProfile input {
  font-size: 16px;
  padding: 3px;
  /* border-bottom: 1px solid black; */
}
