.UserProfile {
  font-family: "Work Sans", sans-serif;
}
.UserSearchBox {
  display: flex;
  justify-content: space-between;
}
.UserSearchBox .addAdmin {
  padding: 10px 20px;
  background: #4251af;
  color: white;
}
.AdminProfile {
  width: 100%;
  background: #fff;
  margin-left: 0px;
  padding: 10px;
  font-size: 16px;
}
.AdminProfile h2 {
  padding-top: 15px;
  color: black;
  font-weight: 500;
  font-size: 22px;
}
.AdminProfile div img {
  width: 180px;
  height: 180px;
  background-position: center;
}
/* .AdminProfile button {
  padding: 9px;
  margin-top: 20px;
  color: white;
  background: #4251af;
  font-weight: 500;
  font-size: 14px;
} */
.AdminProfile button:hover {
  /* padding: 9px;
  margin-top: 20px;
  color: white; */
  background: #4251af;
  /* font-weight: 500; */
}
.AdminProfile h1 {
  color: black;
  font-weight: 550;
}
.AdminProfile h4 {
  color: #4251af;
  font-weight: 400;
}
.AdminProfile table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.AdminProfile p {
  margin-bottom: 0px;
}
.AdminProfile td,
th {
  display: inline-block !important;
  text-align: left;
  padding: 6px 0px;
}
.AdminProfile input {
  width: 255px;
  padding-left: 5px;
}
.AdminProfile .Birthday::placeholder {
  text-align: center;
}
.AdminProfile .Birthday {
  padding: 3px;
  text-align: center;
}

/* .AdminProfile input {
  font-size: 16px;
  padding: 3px; */
/* border-bottom: 1px solid black; */
/* } */

/* //! ADMIN SIGH UP FORM */
/* .AdminProfile .adminForm label {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}

.AdminProfile .adminForm input {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 10px;
}
.AdminProfile .adminForm input:focus,
input:focus {
  outline: none;
  border-bottom: 1px solid #4251af;
}

.AdminProfile .adminForm input.error {
  border-bottom: 2px solid;
  border-color: red;
}
.AdminProfile .adminForm .input-feedback {
  color: red;
  font-size: 14px;
}
.AdminProfile .adminForm select {
  width: 100%;
  text-align: center;
  text-align-last: center;
  padding: 10px;
} */
