
::placeholder{
    color : #333 !important;
    font-size : 1rem !important;
    opacity: 1 !important;
}

.btn-add-more-salary{
    margin-left: 35px;
    color: #0764B0;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
    letter-spacing: 0.3px;
}