.merchant-list-container .Total {
  font-weight: 900;
  padding-left: 5px;
  font-size: 16px;
  color: black;
}
.GeneralReportBox h1 {
  color: #0764B0;
  font-weight: 500;
  font-size: 22px;
}
.Link a {
  font-size: 17px;
}
.ReportBox {
  padding-top: 20px;
  background-color: white;
}
.ReportBox h2 {
  color: #0764B0;
  font-weight: 500;
  padding-top: 20px;
}
/* STATISTIC */
.btn-green {
  margin-bottom: 0px;
  margin-left: 10px;
  height: 40px;
  background-color: #0764B0;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  font-weight: 900;
  margin-left: 0px;
}
/* .ReportBox div {
  text-align: center;
} */
.ReportBox select {
  text-align: center;
  outline: 0;
  height: 32px;
  width: 244px;
  padding: 0 16px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* // REACT TABLE */
.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 3px 0 0 red !important;
}
.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -3px 0 0 red !important;
}
.ReactTable .rt-resizable-header-content {
  float: left;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  color: #fff;
}
.ReactTable .rt-tbody .rt-td {
  color: #212121;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}
.ReactTable .-pagination .-btn:not([disabled]):hover {
  background: #0764B0 !important;
  color: white;
  font-weight: 500;
}
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  padding: 0px;
  background: #0764B0;
}
