body {
  font-family: 'Roboto', sans-serif;
}
label { 
  font-weight: 300;
}

.container-fluid {
  max-width: 100%;
}

.ReactTable .rt-tr-group:nth-child(2n+1) {
  background-color: #fafafa !important;
}


 .btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  font-weight: 900;
  margin-top: 20px;
}

/* GREEN BTN */
 .btn:hover {
  background-color: #0764B0;
  border-color: rgba(0, 0, 0, 0.5);
}

 .btn:active {
  background-color: #ccc;
  border-color: rgba(0, 0, 0, 0.9);
}
 .btn.btn-green {
  background-color: #0764B0;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

 .btn.btn-green:hover {
  background-color: #0764B0;
  border-color: rgba(0, 0, 0, 0.5);
}

 .btn.btn-green:active {
  background-color: #0764B0;
  border-color: rgba(0, 0, 0, 0.9);
}
/* RED BUTTON */
 .btn.btn-red {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #0764B0;
}

 .btn.btn-red:hover {
  background-color: #fcfcfc;
  border-color: rgba(0, 0, 0, 0.5);
}

 .btn.btn-red:active {
  background-color: #f4f4f4;
  border-color: rgba(0, 0, 0, 0.9);
}

.ReactTable .rt-tr-group:nth-child(2n+1) {
  background-color: #fafafa;
}
.ReactTable .-pagination .-btn {
  font-weight: 500;
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
  background: #0764B0 !important;
  color: white;
  font-weight: 500;
}
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  padding: 0px;
  background: #0764B0;
}


.page-heading .breadcrumb > a:hover {
  text-decoration: none;
}

.page-heading .breadcrumb-item {
  cursor: default;
}



.content__title {
  color: #0764B0;
}
.content__label {
  color: #707070;
}
.content__text {
  color: #404040;
  font-weight: 500 !important;
}

.table__light {
  font-weight: 300 !important;
}

.table__header {
  color: white;
  padding-left: 5px;
  line-height: 1.4 !important;
}


.avatar_last {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search_input {
  padding: 50px;
}

.react-slidedown.my-dropdown-slidedown {
  transition-duration: 0.5s !important;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.react-slidedown {
  transition-duration: 0.16s !important;
  transition-timing-function: ease-in-out;
}

.react-slidedown.transitioning {
  overflow-x: hidden !important;
}

.input_field::-webkit-input-placeholder { /* Edge */
  color: red;
}

.input_field:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

.input_field::placeholder {
  color: red;
}

.input_number_duration::placeholder{
  font-size: 1rem !important;
}

.invoice_loading{
  position: absolute;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  background : rgba(255,255,255,0.6);
  z-index: 99999;
  display : flex;
  justify-content: center;
  align-items: center;
  color : #585858;
  font-size : 1.3rem;
  font-weight : 400;
  font-style: italic;
}