body {
  font-family: 'Roboto', sans-serif;
}
label { 
  font-weight: 300;
}

.container-fluid {
  max-width: 100%;
}

.ReactTable .rt-tr-group:nth-child(2n+1) {
  background-color: #fafafa !important;
}


 .btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  font-weight: 900;
  margin-top: 20px;
}

/* GREEN BTN */
 .btn:hover {
  background-color: #4251af;
  border-color: rgba(0, 0, 0, 0.5);
}

 .btn:active {
  background-color: #ccc;
  border-color: rgba(0, 0, 0, 0.9);
}
 .btn.btn-green {
  background-color: #4251af;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

 .btn.btn-green:hover {
  background-color: #4251af;
  border-color: rgba(0, 0, 0, 0.5);
}

 .btn.btn-green:active {
  background-color: #4251af;
  border-color: rgba(0, 0, 0, 0.9);
}
/* RED BUTTON */
 .btn.btn-red {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #4251af;
}

 .btn.btn-red:hover {
  background-color: #fcfcfc;
  border-color: rgba(0, 0, 0, 0.5);
}

 .btn.btn-red:active {
  background-color: #f4f4f4;
  border-color: rgba(0, 0, 0, 0.9);
}

.ReactTable .rt-tr-group:nth-child(2n+1) {
  background-color: #fafafa;
}
.ReactTable .-pagination .-btn {
  font-weight: 500;
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
  background: #4251af !important;
  color: white;
  font-weight: 500;
}
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  padding: 0px;
  background: #4251af;
}


.page-heading .breadcrumb > a:hover {
  text-decoration: none;
}

.page-heading .breadcrumb-item {
  cursor: default;
}



.content__title {
  color: #4251af;
}
.content__label {
  color: #707070;
}
.content__text {
  color: #404040;
  font-weight: 500 !important;
}

.table__light {
  font-weight: 300 !important;
}

.table__header {
  color: white;
  padding-left: 5px;
  line-height: 1.4 !important;
}