.content-list .content-body input:focus {
  outline: none;
  /* border-color: #4251af; */
}

.consumer__general .required {
  margin-top: 5px;
  color: red !important;
}

.consumer_btn_container .MuiDialogContent-root {
  padding: 0;

}

.consumer_btn_container .MuiDialogContent-root:first-child {
  padding-top: 0
}

.consumer_btn_container .disable__title {
  background-color: #4251af;
  height: 50px;
  padding: 10px;
  width: 100%;
  z-index: 999;
  color: white;
  align-items: center;
}

.TransactionTable thead tr th {
  color: white;
  background-color: #4251af;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #4251af;
}
.TransactionTable tbody tr td {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid grey;
}
.TransactionTable tbody tr td:first-letter {
  text-transform: capitalize;
}

.resetBtn button:hover {
  color: #fff;
  background: #4251af;
}
.ConsumerTransactions select {
  outline: 0;
  height: 32px;
  width: 244px;
  padding: 0 16px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.BIG {
  color: red;
  font-weight: 400;
}


.date-picker {
  padding: 8px;
    font-weight: 400;
    width: 244px;
    padding: 0 16px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    border-radius: 4px 0 0 4px;
    outline: 0;
    float: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}

.date-picker:focus {
  outline: none !important;
  border-color: none !important;
}

h2 {
  color: #4251af;
}

.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
  font-weight: 900;
}

.rejectInput .close {
  font-size: 35px !important;
}

