.Save-fixed-bottom {
  left: 0%;
  height: 40px;
  position: fixed;
  bottom: -1%;
  width: 100%;
}
.service-container {
  text-align: left;

  label {
    color: #0764B0;
  }
  .extra-btn {
    color: #0764B0 !important;
    cursor: pointer;
    padding-left: 20px;
  }
}

div.rt-tr {
  align-items: center;
}

.css-1okebmr-indicatorSeparator {
  width: 0px !important;
}
.css-1wa3eu0-placeholder {
  margin-left: 0 !important;
}

textarea:focus,
input:focus {
  outline: none !important;
}

.add__product label + .MuiInput-formControl {
  margin-top: 25px;
}

.error_message_field{
  color : red;
}

.btn-add-extra{
  color: #1366AE;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 0.3px;
}

.btn-close-extra{
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  cursor: pointer;
}

.container-add-extra{
  background-color: #fafafa;
  width: 100%;
  position: relative;
  padding-top: 20px;
}

.input_custom{
  display : flex;
  width: 100%;
  border-bottom : 1px solid #dddddd;
  &>span{
    margin-right: 10px;
    margin-top: 1px;
    font-size: 1rem;
    color : #333;
  }
}

.title_select_extra{
  margin-top: 30px;
  color: #0764B0;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.3px;
  margin-bottom: -15px;
}