.Save-fixed-bottom {
  left: 0%;
  height: 40px;
  position: fixed;
  bottom: -1%;
  width: 100%;
}
.service-container {
  text-align: left;

  label {
    color: #0764B0;
  }
  .extra-btn {
    color: #0764B0 !important;
    cursor: pointer;
    padding-left: 20px;
  }
}

div.rt-tr {
  align-items: center;
}

.css-1okebmr-indicatorSeparator {
  width: 0px !important;
}
.css-1wa3eu0-placeholder {
  margin-left: 0 !important;
}

textarea:focus,
input:focus {
  outline: none !important;
}

.add__product label + .MuiInput-formControl {
  margin-top: 25px;
}
